
#ignore ALL THE THINGS
*
#allow gitignore
!.gitignore
#allow IDResolver.java
!src/minecraft/net/minecraft/src/IDResolver.java
#allow mod_IDResolver.java
!src/minecraft/net/minecraft/src/mod_IDResolver.java